{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h2>Create task</h2>
        {{ form_start(form, {'attr': {'class': 'form'}}) }}
        <div class="mb-3">
            {{ form_label(form.title, 'Name', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.deadline, 'Deadline', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.deadline, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.status, 'Status', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.status, {'attr': {'class': 'form-select'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.parentTaskId, 'Parent task (ID)', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.parentTaskId, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        {{ form_end(form) }}
    </div>
{% endblock %}